@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;

}

.card-container svg:hover {
    color: red;
}

.username div:hover {
    cursor: pointer;
    color: #64799d;
}

svg:hover {
    cursor: pointer;
}

img:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
    background-color: #505e85;
}

input {
    border-radius: 10px;
    border: none;
    background-color: rgb(209, 220, 228);
    width: 70%;
    height: 60%;
    color: black;
}

a {
    text-decoration: none;
    color: white;
}

.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(200px, .7fr) 2fr 1fr;
    grid-template-rows: .8fr 2fr 3fr;

}

.sidebar {
    background-color: #1d4ed8;
    color: white;
    padding: 20px;
    grid-row: 1 / 4;
    display: grid;
    grid-auto-rows: 1fr 3.5fr 4.5fr;
    justify-items: start;
}

.logo {
    width: 70%;;
    font-size: 2rem;
    display: flex;
    gap: 10px;
}

.user-options, .user-settings {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 20px;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header {
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: 3fr 2fr;
    background-color: #f0fdfa;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #bdc0c5;
}
.search-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    align-content: center;
    gap: 10px;
    

}

#profile-picture {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#profile-picture-2 {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 10px;

}

.search-bar {
    display: flex;
    align-items: center;
}

.notification-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.user-info {
    display: flex;
    align-items: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

button {
    border-radius: 15px;
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 4px 20px;
    font-size: 20px;
}

.your-projects {
    background-color: #ccfbf1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    grid-area: 2 / 2 / 4 / 3;
    align-items: stretch;
}

.card {
    padding: 20px;
    border-radius: 10px;
    color: black;
    background-color: white;
    border-left: 10px solid sandybrown;
    -webkit-box-shadow: 1px 4px 22px -6px rgba(0,0,0,0.33);
    -moz-box-shadow: 1px 4px 22px -6px rgba(0,0,0,0.33);
    box-shadow: 1px 4px 22px -6px rgba(0,0,0,0.33);
}

.icons {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-top: 15px;
}

p {
    color: #4b5563;
}

h4 {
    font-size: 1.5rem;
}

.card-container {
    margin-top: 30px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, 420px);
}

.announcements {
    background-color: #ccfbf1;
    grid-area: 2 / 3 / 3 / 4;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.ann-container p {
    
    font-size: 0.8rem;
}

.first,
.second {
    border-bottom: 1px solid rgb(75, 75, 75);
}

.ann {
    padding: 10px;
}

.ann-container {
    background-color: white;
    border-radius: 10px;
    width: 80%;
    -webkit-box-shadow: 1px 4px 22px -6px rgba(0,0,0,0.33);
    -moz-box-shadow: 1px 4px 22px -6px rgba(0,0,0,0.33);
    box-shadow: 1px 4px 22px -6px rgba(0,0,0,0.33);
}

.trending {
    background-color: #ccfbf1;
    grid-area: 3 / 3 / 3 / 4;
    padding: 20px;
    /* margin-top: -60px; */
}

.trends-container {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    width: 80%;
    -webkit-box-shadow: 1px 4px 22px -6px rgba(0,0,0,0.33);
    -moz-box-shadow: 1px 4px 22px -6px rgba(0,0,0,0.33);
    box-shadow: 1px 4px 22px -6px rgba(0,0,0,0.33);
}

.trend {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}