@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* GENERAL */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    height: 100vh;
    display: grid;    
    grid-template-columns: 300px 4fr;
    grid-template-rows: 200px 4fr;
    background-color: #ccfbf1;
}

header {
    background-color: white;
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1.5fr;
    box-shadow: -1px 14px 15px -2px rgba(95, 95, 95, 0.37);
}

aside {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 200px 350px 300px;
    background-color: #1d4ed8;
    color: white;
    padding-left: 20px;
}

svg:hover {
    cursor: pointer;
}

img:hover {
    cursor: pointer;
}

h1 {
    font-size: 2rem;
}

/* SIDEBAR */

aside a {
    color: white;
    text-decoration: none;
    font-size: 22px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: start;
    padding-top: 40px;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

/* HEADER */
.search-bar {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 40px;
}

.notification-bar {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: end;
    padding-right: 40px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 40px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    padding-right: 40px;
}

input {
    border-radius: 10px;
    border: none;
    background-color: rgb(209, 220, 228);
    width: 80%;
    height: 34px;
    color: black;
    padding-left: 20px;
    font-size: 18px;
}

button {
    border-radius: 15px;
    background-color: #5c88e7;
    color: white;
    border: none;
    padding: 4px 20px;
    font-size: 20px;
}

button:hover {
    background-color: #2563eb;
    cursor: pointer;
}

#profile-picture {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#profile-picture-2 {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 10px;

}

/* CONTENT */

.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;
    max-height: 100%;
}

.projects {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    align-content: center;
    flex-direction: column;
    padding: 40px;
}

.card-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 450px);
    gap: 20px;

}
.card {
    padding: 20px;
    border-radius: 10px;
    color: black;
    background-color: white;
    border-left: 10px solid sandybrown;
    -webkit-box-shadow: 1px 4px 22px -6px rgba(0,0,0,0.33);
    -moz-box-shadow: 1px 4px 22px -6px rgba(0,0,0,0.33);
    box-shadow: 1px 4px 22px -6px rgba(0,0,0,0.33);
}

.announcements {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
    width: 80%;
}

.ann-container p {
    font-size: 0.8rem;
}

.first,
.second {
    border-bottom: 1px solid rgb(75, 75, 75);
}

.ann {
    padding: 10px;
}

.ann-container {
    background-color: white;
    border-radius: 10px;
    width: 80%;
    -webkit-box-shadow: 1px 4px 22px -6px rgba(0,0,0,0.33);
    -moz-box-shadow: 1px 4px 22px -6px rgba(0,0,0,0.33);
    box-shadow: 1px 4px 22px -6px rgba(0,0,0,0.33);
}

.trending-items {
    padding: 40px;
}

.trends-container {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    width: 65%;
    -webkit-box-shadow: 1px 4px 22px -6px rgba(0,0,0,0.33);
    -moz-box-shadow: 1px 4px 22px -6px rgba(0,0,0,0.33);
    box-shadow: 1px 4px 22px -6px rgba(0,0,0,0.33);
}

.trend-item {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}

.icons {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-top: 15px;
}

p {
    opacity: .7;
}

.trend-item a {
    text-decoration: none;
    color: black;
}

.trend-item a:hover {
    text-decoration: none;
    color: rgb(116, 116, 116);
}

.projects svg:hover {
    color: red;
    scale: 1.2;
}

svg:hover {
    scale: 1.2;
}